<div id="linwood" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
       fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">home</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'SAMPLE.HELLO' | translate}}</span>
      </div>

    </div>
    <!-- / APP TITLE -->


  </div>
  <!-- / HEADER -->

  <p><a [routerLink]="['/login']">Logout</a></p>
</div>
