<div id="transfercustomer" class="page-layout simple left-sidenav inner-sidenav">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start start"
       fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">transform</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Transfer Customer</span>
      </div>

    </div>
    <!-- / APP TITLE -->
    <!-- SEARCH -->
    <div class="reference-button mat-white-bg mt-16 mt-sm-0" fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button routerLink="/stages/new">
        <mat-icon>add</mat-icon>
        <span>New</span>
      </button>
    </div>
    <!-- / SEARCH -->

  </div>
  <!-- / HEADER -->

  <div class="content p-24">

    <div class="example-container mat-elevation-z8">

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 (click)="selection.toggle(row)">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>

  </div>
</div>
